.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
/libstreaming
/server/driving-instructor/*
!/server/driving-instructor/app.js
!/server/driving-instructor/public